<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>회원정보 변경</title>
  </head>
  <body>
    <h1>회원정보 변경</h1>
    <form action="">
      email : <%= user.email %> <input type="text" /><br />
      weeksomId : <%= user.weeksomId %> <input type="text" /><br />
      <!-- 유효성검사 넣을것 -->
      password <br />
      nickname : <%= user.nickname %> <input type="text" /><br />
      profileImage <br />
      userInfo : <%= user.userInfo %> <input type="text" /><br />
    </form>
  </body>
</html>
