<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat</title>
    <link rel="stylesheet" href="/public/css/chat.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col_1">
          <input type = "search" class = "search" id ="" placeholder = "사용자 검색">

          <div class="friends-list">
            <img src="https://image-upload-server1.s3.ap-northeast-2.amazonaws.com/user.jpg" alt="" width="29px" height="29px">
            <ul>
              <li>호랑이 @test01 2021년 10월 1일</li>
              <li></li>
              <li></li>
            </ul>
            
          </div>
        </div>
        <div class="col_2">      
    <div class="wrapper">
      <div class="user-container">
        <label for="nickname">대화명</label>
        <input type="text" id="nickname" />
      </div>
      <div class="display-container">
        <ul class="chatting-list"></ul>
        <!-- 채팅을 li 구조로 늘어놓게 함 -->
      </div>
      <div class="input-container">
        <span>
          <input type="text" class="chatting-input" />
          <button class="send-button">전송</button>
        </span>
      </div>
    </div>
        </div>
        </div>
        </div>

        

  

    <!-- socket io 라이브러리 -->

    <script
      src="https://cdn.socket.io/4.1.2/socket.io.min.js"
      integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
      crossorigin="anonymous"
    ></script>
    <script src="/public/js/chat.js"></script>
  </body>
</html>
