<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>commentList</title>
  </head>
  <body>
    <ul>
      <% commentList.forEach(comment => { %>
      <li>
        <span><%= comment.user_id %></span> <span><%= comment.text %></span>
        
      </li>
      <% }) %>
    </ul>
  </body>
</html>