<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>index</title>
  </head>
  <body>
    <h1>관리자 인덱스 페이지입니다.</h1>
    <% if (user) {%>
    <h3><%=user.nickname%>님이 로그인했습니다.</h3>
    <% } else { %>
    <h3>로그인되지않았습니다.</h3>
    <% } %>
    <a href="/sendinput">데이터입력예제</a> <br />
    <h2>계정정보</h2>
    <a href="/acount/signup">회원가입예제</a> <br />
    <a href="/acount/signin">로그인예제</a> <br />
    유저 프로필
    <input
      type="text"
      id="searchProfile"
      placeholder="userProfile : weeksomId "
    />
    <input type="submit" value="searchProfile" onclick="searchProfile()" />
    <br />
    <a href="/userlist">유져리스트</a> <br />
    <a href="/article">게시물 출력</a> <br />
    <a href="/populateTest">디비병합테스트</a> <br />
  </body>
  <script>
    const searchProfile = () => {
      const profile = document.getElementById('searchProfile').value
      location.href = `/${profile}`
    }
  </script>
</html>
