<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h1>관리자 인덱스 페이지입니다.</h1>
    <a href="/sendinput">데이터입력예제</a>
    <br />
    <h2>계정정보</h2>
    <a href="/acount/signup">회원가입예제</a>
    <br />
    <a href="/acount/signin">로그인예제</a>
    <br />
    <a href="/profile">본인 프로필페이지</a>
    <br />
    유저 프로필 검색
    <input
      type="text"
      id="searchProfile"
      placeholder="userProfile : weeksomId "
    />
    <input type="submit" value="searchProfile" onclick="searchProfile()" />
    <br />
  </body>
  <script>
    const searchProfile = () => {
      const profile = document.getElementById('searchProfile').value
      location.href = `/profile/${profile}`
    }
  </script>
</html>
