<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h1>안녕하세요 시작페이지입니다.</h1>
    <a href="/sendinput">데이터입력예제</a>
    <br />
    <h2>계정정보</h2>
    <a href="/acount/signup">회원가입예제</a>
    <br />
    <a href="/acount/signin">로그인예제</a>
    <br />
    <a href="/profile">본인 프로필페이지</a>
    <br />
    <a href="/profile/test7">test7 프로필페이지</a>
    <br />
  </body>
</html>
