<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>search</title>
  </head>
  <body>
    <h1><%=  articles.contentText %>님의 프로필입니다.</h1>
    <input>
    <button>검색</button>
  </body>
</html>
