<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>데이터입력예제</title>
  </head>
  <body>
    <h4>데이터입력예제</h4>
    <div>
      <form action="/sendinput/add" method="POST">
        <div class="form-group">
          <label>데이터전송</label>
          <input type="text" name="data" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
