<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/public/css/signin.css" />
  </head>
  <body>
    <div id="box" class="main_box">
      <div class="login_box">
        <div class="form_box">
          <form name="login_form" action="/" method="POST">
            <div class="form_title">
              <p class="form_title_p">주간솜뭉치</p>
            </div>
            <div>
              <%= msg %>
              <div>
                <p class="form_user">EMAIL</p>
              </div>
              <div>
                <input
                  type="text"
                  name="email"
                  placeholder="abcd1234@email.com"
                  class="form_input"
                  value="test1@kakao.com"
                />
              </div>
              <div class="form_alert">
                <div id="alert_email" class="form_text_alert"></div>
              </div>
            </div>
            <div>
              <div>
                <p class="form_user">PASSWORD</p>
              </div>
              <div>
                <input
                  type="password"
                  name="password"
                  placeholder="Enter password"
                  class="form_input"
                  onkeydown="if(event.keyCode == 13) login()"
                  value="qwer1234#"
                />
              </div>
              <div class="form_alert">
                <div id="alert_password" class="form_text_alert"></div>
              </div>
            </div>

            <div>
              <button type="submit" class="form_login_button" onclick="login()">
                로그인
              </button>
              <button
                type="submit"
                class="form_join_button"
                id="signupbtn"
              >
                회원가입
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      function login() {
        let form = document.login_form
        let emchk = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

        if (!form.email.value) {
          alert('이메일을 입력해주세요.')
          form.email.focus()
          return false
        }
        if (!emchk.test(form.email.value)) {
            alert('이메일을 다시 입력해주세요.')
            form.email.focus()
            return false
        }
        if (!form.password.value) {
          alert('비밀번호를 입력해주세요.')
          form.password.focus()
          return false
        }
        return true
      }
      $('#signupbtn').bind("click", function(){
        window.location.href = 'http://localhost:7080/account/signup';
      })
  
    </script>
  </body>
</html>
