<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>회원가입 페이지</title>
    <link rel="stylesheet"  type="text/css" media="all" />
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/public/css/signup.css">
</head>
<body>
    <div id="box" class="main_box">
        <div class="login_box">
            <div class="form_box">
                <form name="join_form" action="/signup" method="POST">
                    <div class="form_title">
                        <p class="form_title_p"></p>
                    </div>
                    <div>
                      <div>
                        <p class="form_user">USERNAME</p>
                        <input type="text" name="username" placeholder="이름을 입력해주세요."  class="form_input" />
                      </div>
                    </div>
                    <div>
                        <div>
                            <p class="form_user">EMAIL</p>
                        </div>
                        <div>
                            <input type="email" id="email" class="form_input_email" value=""/>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="form_user">PASSWORD</p>
                        </div>
                        <div>
                            <input type="password" id="password" placeholder="Enter password" class="form_input" />
                        </div>
                    </div>
                    <div>
                      <div>
                          <p class="form_user">PASSWORD CHECK</p>
                      </div>
                      <div>
                          <input type="password" id="password2" placeholder="Enter password" class="form_input" />
                      </div>
                    </div>
                    <div>
                        <button type="button" id="signupbtn" class="form_join_button" onclick="join()">가입 완료</button>
                    </div>
                </form>
            </div>
        </div>   
    </div>
<script>
 function join() {

        let form = document.join_form
        let emchk = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

        if (!form.email.value) {
          alert('이메일을 입력해주세요.')
          form.email.focus()
          return false
        }
        if (!emchk.test(form.email.value)) {
            alert('이메일을 다시 입력해주세요.')
            form.email.focus()
            return false
        }
        if (!form.password.value) {
          alert('비밀번호를 입력해주세요.')
          form.password.focus()
          return false
        }

        let pwchk = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{10,}$/;

        if (!pwchk.test(form.password.value)) {
            alert('비밀번호는 영문, 숫자, 특수문자 포함 10자리 이상입니다.')
            form.password.focus()
            return false
        }
        if (form.password.value != form.password2.value){
            alert('비밀번호가 일치하지 않습니다. 다시 입력해주세요.')
            form.password2.focus()
            return false
        }
        
        return true
      }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>