<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form action="/" method="POST">
      <input
        type="text"
        placeholder="email"
        name="email"
        value="test1@kakao.com"
      />
      <input
        type="text"
        placeholder="password"
        name="password"
        value="qwer1234#"
      />
      <input type="submit" value="서브밋" />
    </form>
    <a href="/acount/signup">회원가입</a>
  </body>
</html>
