<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>로그인</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form action="/signin" method="POST">
      <input
        type="text"
        placeholder="email"
        name="email"
        value="test1@kakao.com"
      />
      <input
        type="text"
        placeholder="password"
        name="password"
        value="qwer1234#"
      />
      <input type="submit" value="서브밋" />
    </form>
  </body>
</html>
