<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>userlist</title>
  </head>
  <body>
    <ul>
      <% userlist.forEach(user => { %>
      <li>
        <span><%= user.weeksomId %></span> <span><%= user.nickname %></span>
        <input
          type="button"
          value="
        <% if (followingArr.indexOf(user.weeksomId) >= 0) { %>
          unfollow
        <% } else { %>
          follow
        <% } %>
        "
        />
      </li>
      <% }) %>
    </ul>
  </body>
</html>
