<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>userlist</title>
  </head>
  <body>
    <span id="userId"><%= userId %></span>님이 로그인했습니다.
    <ul>
      <% userlist.forEach(user => { %>
      <li>
        <span><%= user.weeksomId %></span> <span><%= user.nickname %></span>
        <input
          id="follow"
          type="button"
          class="btn"
          value="
            <% if (followingArr.indexOf(user.weeksomId) >= 0) { %>
              unfollow
            <% } else { %>
              follow
            <% } %>
          "
          onclick="follow(this)"
        />
      </li>
      <% }) %>
    </ul>
  </body>
  <script>
    // 버튼 이름 공백제거
    document.querySelectorAll('.btn').forEach((ele) => {
      ele.value = ele.value.trim()
    })
    // 디비에 팔로잉 팔로우 등록 제거
    const follow = async (followbtn) => {
      // 데이터 셋
      // 팔로우 상태면 1, 언팔로 상태면 0
      const status = followbtn.value.trim() === 'follow' ? 0 : 1
      const otherId = followbtn.parentElement.firstElementChild.innerHTML
      const data = { otherId, status }
      const url = 'http://localhost:7080/follow'
      // 버튼내용변경
      followbtn.value =
        followbtn.value.trim() === 'follow' ? 'unfollow' : 'follow'
      console.log(followbtn.value)
      // fetch 전송
      await fetch(url, {
        method: 'PATCH',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data),
        //body: data,
      })
    }
  </script>
  <style>
    body {
      font-size: 2em;
    }
    .btn {
      font-size: 2em;
    }
  </style>
</html>
