@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    height: 5vh;
    width: 94vw;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    background-color: white;
    z-index: 2;
}
nav > div {
    display: flex;
    font-size:2.2em;
    font-weight: 900;
}
#navIcon {
    font-size: 1.8em;
    padding-top: 1%;
    justify-content: space-between;
}
nav a {
    padding-top: 1%;
}
a {
    text-decoration: none;
}
a:visited { color: black; text-decoration: none;}
nav img {
    height: 100%;
}


.container{
    position: relative;
    width: 100vw;
    height: 90vh;
    top: 9%;
    background: #fafafa;
    overflow: hidden;
}

.col_1, .col_2{
    width: 100vw;
    height: 90vh;
    border: 1px solid #000000;
}

.search {
    padding: 2vw 2vh;
}

#chatSearch{
    width: 30vw;
    height: 58px;
    border-radius: 5em;
    border-style:1px solid #4f555c;
    background-image: url(https://image-upload-server1.s3.ap-northeast-2.amazonaws.com/free-icon-search-3917132.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 15px;
    padding-left: 50px;
    padding-right: 10px;
}

.chatSearch {
    width: 5vw;
    height: 58px;
}

.col_1 > input, button {
    width: 80vw;
    font-size: 2em;
}
.col_2{
    position: absolute;
    left: 100vw;
    top:0;
    transition: left 0.5s;
}
#chat {
    display: none;
}
#chat:checked ~ .col_2 {
    display: block;
    left: 0vw;
}

.friends-list li {
    list-style: none;
    width: 293px;
    height: 58px;
    text-align: center;
}

.col_2{    
    position: relative;
    padding-left: 25px;
    width: 60%;
    float: right;
}
#chat:checked ~ .col_2 {
    display: block;
}
.searchUser {
    display: flex;
    padding-left: 3vw;
}
.imgBox {
    width: 20vw;
    height: 20vw;
}
.imgBox > img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 100%;
}
.weeksomId {
    padding-top: 3%;
    font-size: 2em;
}

.wrapper {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column; /* 말풍선 세로 정렬 */
    overflow: hidden;
}

.user-container {
    background: #a9bdce;
    flex:1; /* 비율로 크기 조정 */
    display: none; /* 레이블태그, input 태그 정렬 */
    justify-content: flex-start; /* 왼쪽부터 시작 */
    align-items: center;
    padding: 0.5rem;
}

.user-container label{
    font-size: 14px;
    margin-right: 1rem;
}

.user-container input{
    border-radius: 3px;
    border:none;
    height: 50%;
}

.display-container{
    min-height: 80vh;
    background: #ffffff;
    overflow-y: scroll; /* 채팅이 쌓이면 스크롤 생성 */
    border: none;

}

.input-container{
    flex: 1;
    display: flex;
    justify-content: stretch; /* 끝부터 끝까지 영역 차지 */
    align-items: center;
}

.input-container span{ /* 메세지 전송 부분 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100vw;
}

.chatting-input{
    font-size: 1.2em;
    
    height: 5vh;
    width: 80vw;
    border: none;
    border-radius: 13em;
    padding-left: 2vw;
    color: #4f555c;

}

.send-button{
    width: 13vw;
    height: 5vh;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    color: white;

    background: #efa6c1;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #efa6c1 0%, #99bddd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #efa6c1 0%, #99bddd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #efa6c1 0%, #99bddd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efa6c1', endColorstr='#99bddd', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

.chatting-list li{
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start; /* 왼쪽부터 시작 */
    align-items: flex-end; /* 라인밑으로 정렬 */
    margin-top: 0.5rem;
}

.profile{
    display: flex;
    flex-direction: column; /* 세로정렬 */
    align-items: center; /* 중앙정렬 */
    justify-content: center;
    flex: 1;

}

.profile .user {
    font-size: 10px;
    margin-bottom: 0.3rem;
}
.imgBox {
    width: 7vw;
    height: 7vw;
}
.profile .image{
    border-radius: 50%; /* 동그란 프사 */
    object-fit: cover; /* 이미지 모양에 맞춰서 잘라줌. 깨지지 않음*/
    width: 100%; /* 리사이징 */
    height: 100%;
}

.message {
    border-radius: 5px;
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    flex: 5;
    color: white;
}

.time {
    font-size: 10px;
    margin: 0 5px;

}

.sent {
    flex-direction: row-reverse; /* 내가 보낸 메세지는 오른쪽에 붙도록 역순배열 */
    float: right;
}

.sent .message {
    background: #efa6c1;

}

.received .message{
    background: #99bddd;
}
