.main_box {
  border: 0px solid;
}

.login_box {
  width: 380px;
  height: 520px;
  margin: auto;
  border-radius: 3px;
}

.form_box {
  width: 300px;
  margin: auto;
}

.form_title {
  width: 300px;
  text-align: center;
}

.form_title_p {
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  padding-top: 8px;
}

.form_input {
  width: 98%;
  height: 30px;
  border: 1px solid;
  border-radius: 3px;
  border-color: gray;
}

.form_user {
  color: black;
}

.form_alert {
  padding-bottom: 10px;
}

.form_text_alert {
  height: 20px;
}

.form_login_button {
  width: 100%;
  height: 44px;
  margin: 2% 0;
  background-color: rgb(43, 113, 204);
  border: 1px solid;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.form_join_button {
  width: 100%;
  height: 44px;
  margin: 2% 0;
  background-color: skyblue;
  border: 1px solid;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  font-weight: 500;
}

.form_kakao_button {
  background: url('images/kakaoButton.png');
  width: 100%;
  height: 44px;
  border: 1px solid;
  border-radius: 3px;
}

.form_google_button {
  background: url('images/btn_google_signin_dark_focus_web.png');
  width: 100%;
  height: 44px;
  border: 1px solid;
  border-radius: 3px;
}