.main_box{
    border: 0px solid;
}

.login_box{
    width: 380px;
    height: 520px;
    margin: auto;
    border-radius: 3px;
}

.form_box{
    width: 300px;
    margin: auto;
}

.form_title{
    width: 300px;
    text-align: center;
}

.form_title_p{
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
    padding-top: 5px;
}

.form_sub_p{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.form_input{
    width: 98%;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
}

.form_input_email{
    width: 98%;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
    display: inline-block;
}

.form_user{
    padding: 1%;
    color:black;
    margin-top: 5%;
}

.form_text_alert{
    height: 20px;
}

.form_join_button {
    width: 98%;
    height: 60px;
    margin: 2% 0;
    background-color: skyblue;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10%;
  }