<!-- css -->
<link rel="stylesheet" href="/public/css/topNav.css">

<div class="topNavBarBase">

  <div class="topNavBar">
    <div class="container navbar navbar-light w-75">
      <a class="navbar-brand" href="/"><img src="" alt=""><b>주간솜뭉치</b></a>
      <div class="navBar">
        <a class="material-icons" id="topIcon" href="/">home<span class="sr-only">(current)</span></a>
        <a class="material-icons" id="topIcon" href="/">mail</a>
        <a class="material-icons" id="topIcon" href="/">account_circle</a>
      </div>
    </div>
  </div>
</div>
