<!-- css -->
<link rel="stylesheet" href="/public/css/topNav.css">

<div class="topNavBarBase">

  <div class="topNavBar">
    <div class="container navbar navbar-light w-100">
      <a class="navbar-brand ml-1" href="/"><img src="https://image-upload-server1.s3.ap-northeast-2.amazonaws.com/weeksom_logo.svg" alt=""></a>
      <div class="navBar">
        <a class="material-icons" id="topIcon" href="/">home<span class="sr-only">(current)</span></a>
        <a class="material-icons" id="topIcon" href="/">mail</a>
        <a class="material-icons mr-1" id="topIcon" href="/@/<%=myUserInfo.weeksomId%>">account_circle</a>
      </div>
    </div>
  </div> 
</div>
 